{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>CRM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/login_admin.css' %}">

</head>
<body >
	{%  include 'ourproject/navbar_admin.html' %}
    <div class="logo"></div>
<div class="login-block" >
    <h1>Add shifts for workers</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.worker_name }}
<div class="form-group col-md-12 mb-3" >
        <label for="{{ form.shift.label }}">{{ form.shift.label }}: </label>
        {{ form.shift }}
    </div>
        <p class="dropdown-menu">{{ form.day }}</p>
        <div class="form-group col-md-12 mb-3" >
        <label for="{{ form.day.label }}">{{ form.day.label }}: </label>
        {{ form.day }}
    </div>
        <p class="dropdown-menu">{{ form.day }}</p>
        <input class="btn login_btn" type="submit" value="Add the shift">
    </form>
    {% for message in messages %}
        <p id="messages">{{ message }}</p>
    {% endfor %}

</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Worker username...';
    for (var field in form_fields){
        form_fields[field].className += 'form-control'
    }
</script>
</body>