{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static '/css/login_admin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">


</head>
<body>

{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'homepage_admin' %}">Design</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link " href="{% url 'customer_list' %}">Customers list<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="{% url 'Admin_Reviewproduct_list' %}">Products list</a>
      <a class="nav-item nav-link" href="#">Workers list</a>
      <a class="nav-item nav-link" href="#">Order list</a>
{#      <a class="nav-item nav-link" href="#">Delete product</a>#}
{#      <a class="nav-item nav-link" href="#">Add worker</a>#}
{#      <a class="nav-item nav-link" href="#">Delete worker</a>#}
      <a class="nav-item nav-link" href="#">Work schedule</a>
        <div style="margin-left: 580px">
            <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
       </li>
        </div>
        <a class="nav-item nav-link" href="{% url 'logout' %}">log out</a>
    </div>
  </div>
</nav>

    <br>

<div class="row">
   <div class="col-md">
      <div class="card card-body">
         <h5>Customers</h5>
      </div>
      <div class="card card-body">
         <table class="table">
            <tr>
                <th>name</th>
                <th>bar_code</th>
                <th> price </th>
                <th>amount</th>
            </tr>
            {% for i in products %}
                          <tr>
                              <td>{{i.name}}</td>
                              <td>{{ i.bar_code }}</td>
                              <td>{{ i.price }}</td>
                              <td>{{ i.amount }}</td>
                          </tr>
                      {% endfor %}
         </table>
      </div>
   </div>

</div>
<br>


</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>