{% load static %}

<html>
<head>
	<title>CRM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/login_admin.css' %}">

</head>
<body >
	{%  include 'ourproject/navbar_admin.html' %}

<br>
<div class="row">
   <div class="col-md">
      <div class="card card-body">
         <h5>work schedule</h5>
      </div>
      <div class="card card-body">

         <table class="table">

         <tr>

         {% for shift in shift_assignment_list %}
             <tr>
                 {% for i in shift %}
                    {% if not i %}
                    <td><th>--------</th></td>
             {% endif %}
                     <td><th>{{i}}</th></td>
                 {% endfor %}

             </td>
                  {% endfor %}
         </tr>
<!--{#         <tr>#}-->
<!--{#         <td>shifts/Days:</td>#}-->
<!--{#         {% for i in weekday %}#}-->
<!--{#             <td>#}-->
<!--{#             <th>{{i.day_name}}</th>#}-->
<!--{#             </td>#}-->
<!--{#                  {% endfor %}#}-->
<!--{#         </tr>#}-->
<!--{#         <td>#}-->
<!--{#         {% for i in shift %}#}-->
<!--{#             <tr><th>{{ i.shift_name }}</th>#}-->
<!--{#             </tr>#}-->
<!--{#                  {% endfor %}#}-->
<!--{#         </td>#}-->
<!--{#         <td>#}-->
<!--{#         {% for i in workersname %}#}-->
<!--{#             <tr><th>{{ i }}</th>#}-->
<!--{#             </tr>#}-->
<!--{#                  {% endfor %}#}-->
<!--{#         </td>#}-->

         </table>

                   <a class="btn btn-outline-info"style="width: 200px;height: 30px;background: #383838; color: white;border-block-color: black" href="{% url 'addtoworkschedule'%}">Update add to schedule</a>
          <br>
          <p>New week schedule:</p>
            <a class="btn btn-outline-info"style="width: 200px;height: 30px;background: #383838; color: white;border-block-color: black" href="{% url 'deleteworkschedule'%}">Delete schedule</a>

      </div>
   </div>
</div>
</body>