
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'homepage_admin' %}">Design</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
       <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
       </li>
      <a class="nav-item nav-link active" href="#">Review work hours<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Review product list</a>
      <a class="nav-item nav-link" href="#">Review order list</a>
      <a class="nav-item nav-link" href="#">Edit profile</a>
      <a class="nav-item nav-link" href="#">add products</a>
      <a class="nav-item nav-link" href="#">Update products</a>
      <a class="nav-item nav-link" href="#">View feedback</a>
      <a class="nav-item nav-link" href="#">Search product</a>
        {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logoutworker</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/homepage">HomePage</a>
      </li>

      {% endif %}


    </div>
  </div>
</nav>
