{% load static %}

<html>
<head>
	<title>CRM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/login_admin.css' %}">

</head>
<body >
	{%  include 'ourproject/navbar_worker.html' %}

<br>
<div class="row">
   <div class="col-md">
      <div class="card card-body">
         <h5>work schedule</h5>
      </div>
      <div class="card card-body">

         <table class="table">

         <tr>

         {% for shift in shift_assignment_list %}
             <tr>
                 {% for i in shift %}
                    {% if not i %}
                    <td><th>--------</th></td>
             {% endif %}
                     <td><th>{{i}}</th></td>
                 {% endfor %}

             </td>
                  {% endfor %}
         </tr>
         </table>
           </div>
   </div>
</div>